# replicaCount -- Pod replicas
replicaCount: 1

database:
  connection: sqlite
  host: localhost
  port: 5432
  username: root
  password: password123
  database: statping_db
  sslMode: "ssl_mode=disable"
  readOnly: false

disableColors: true
debugMode: 1

image:
  # image.repository -- https://hub.docker.com/r/statping/statping
  repository: statping/statping
  # image.tag -- https://github.com/statping/statping/releases
  tag: v0.90.74
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 10Gi
  storageClassName: "do-block-storage"
#  existingClaim:

ingress:
  # ingress.enabled -- Enable ingress
  enabled: false
  pathType: ImplementationSpecific
  tls: false
  annotations: {}
  hostname: grafana.local
  path: /
  secrets: []

resources:
  limits:
    cpu: 50m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 128Mi

extraVolumes: []

nodeSelector: {}

tolerations: []

affinity: {}

livenessProbe:
  httpGet:
    path: /health
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3
  successThreshold: 1

startupProbe:
  httpGet:
    path: /health
  failureThreshold: 3
  periodSeconds: 10

application:
  logs:
    ignore:
      # application.logs.ignore.ping -- Don't log ping request on route `/ping`
      ping: false
  enable:
    # application.enable.host -- Enable host in response
    host: true
    # application.enable.http -- Enable http in response
    http: true
    # application.enable.request -- Enable request in response
    request: true
    # application.enable.environment -- Enable environment in response
    environment: true
    # application.enable.file -- Enable file in response
    file: true
    # application.enable.header -- Enable custom header in response
    header: true
