# replicaCount -- Pod replicas
replicaCount: 1

database:
  connection: sqlite

image:
  # image.repository -- https://hub.docker.com/r/statping/statping
  repository: statping/statping
  # image.tag -- https://github.com/statping/statping/releases
  tag: v0.90.74
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  # ingress.enabled -- Enable ingress
  enabled: false
  # ingress.annotations -- Example `kubernetes.io/ingress.class: nginx` for Nginx Ingress
  annotations: {}
  hosts:
    - host: cluster.local
      paths:
        - /
  tls: []

resources:
  limits:
    cpu: 50m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

livenessProbe:
  httpGet:
    path: /health
    httpHeaders:
    - name: x-echo-code
      value: "200"
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3
  successThreshold: 1

application:
  logs:
    ignore:
      # application.logs.ignore.ping -- Don't log ping request on route `/ping`
      ping: false
  enable:
    # application.enable.host -- Enable host in response
    host: true
    # application.enable.http -- Enable http in response
    http: true
    # application.enable.request -- Enable request in response
    request: true
    # application.enable.environment -- Enable environment in response
    environment: true
    # application.enable.file -- Enable file in response
    file: true
    # application.enable.header -- Enable custom header in response
    header: true
